$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;


// color-variables
$BrainFlix-Black: #12202E;
$BrainFlix-Blue:#5C2331;
$Silver: #AFAFAF;
$White:#FFFFFF;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue:#D2AAAD;
$Mercury: #95343F;
$Alabaster: #FAFAFA;
$Error:  #D22D2D;
$BrainFlix-Black: #12202E;
$Maroon:#5C2331;
$Silver: #AFAFAF;
$White:#FFFFFF;
$BrainFlix-DarkBlack: #000000;
$Pink:#D2AAAD;
$LightRed: #95343F;
$Alabaster: #FAFAFA;
$Error:  #D22D2D;